<div class="new-releases">
    <div class="container py-3">

        <div class="row">
            <div class="col-2">
                <img src="../../../assets/no-img.png" class="img-thumbnail img-circle">
            </div>
    
            <div class="col">
                <h3>Artista X</h3>
                <p>
                    <a href="#" target="_blank">Ir a la página del artista</a>
                </p>
            </div>
    
            <div class="col-4 text-right">
                <a href="new-releases" class="btn btn-outline-danger">
                    Regresar
                </a>
            </div>
        </div>
    
        <div class="row mt-5">
            <div class="col">
                <table class="table">
                    <tr>
                        <th width="10%">Foto</th>
                        <th width="35%">Album</th>
                        <th width="35%">Canción</th>
                        <th width="20%">Vista Previa</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/no-img.png" class="img-thumb" height="50">
                        </td>
                        <td>Album X</td>
                        <td>Canción X</td>
                        <td>
                            <audio src="#" controls></audio>
                            <!-- <iframe src="#trustUrl" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/no-img.png" class="img-thumb" height="50">
                        </td>
                        <td>Album X</td>
                        <td>Canción X</td>
                        <td>
                            <audio src="#" controls></audio>
                            <!-- <iframe src="#trustUrl" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/no-img.png" class="img-thumb" height="50">
                        </td>
                        <td>Album X</td>
                        <td>Canción X</td>
                        <td>
                            <audio src="#" controls></audio>
                            <!-- <iframe src="#trustUrl" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>