<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="">
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Music App
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="premium">Premium</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="help">Ayuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Iniciar Sesión</a>
        </li>
    </ul>
</nav>